<h1>Create a New Article</h1>

<% if @article.errors.any? %>
    <h3>The following error prevented article save:</h3>
    <ul>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<%= form_with scope: :article, url: articles_path, local: true do |thing| %>
    <!--or will work if in articles-controller use only render "new" --!>
    <!-- form_with scope: :article, url: articles_path, data: { turbo: false }, local: true do |f| --!>

    <p>
        <%= thing.label :title %></br>
        <%= thing.text_field :title %>
    </p>
    <p>
        <%= thing.label :description %></br>
        <%= thing.text_area :description %>
    </p>
    <p>
        <%= thing.submit %>
    </p>

  <% end %>

  <p>
  <%= link_to "Articles", articles_path %> |
  <%= link_to "About", about_path %> |
  <%= link_to "Home", root_path %>
  </p>